%article.hentry
  %h2.entry-title
    = current_article_title
  %time.updated{:pubdate => ""}= current_article_date.strftime('%B %e, %Y')
  .entry-content
    = yield_content :blog_article
%aside
  %ol
    - data.blog.articles[0...10].each do |article|
      %li
        %a{:href => article.url}= article.title
        %span= article.date.strftime('%B %e, %Y') 
  - if settings.disqus
    = partial :disqus